<ul class="site-cat" id="SiteCat">
  {% for link in linklists.categories.links %}
    {%- assign child_list_handle = link.title | handleize -%}
    {% assign product_counts = collections[child_list_handle].all_products_count | plus: 0 %}

    <li class="main-nav-item{% if link.active %} site-cat--active{% endif %}">
      <a href="{{ link.url }}" class="main-nav-item-link{% if product_counts > 0 %} has-products{% endif %}">
        {{ link.title }}
        {% unless link.title == 'Scanners' or link.title == 'Barcode Printers' or link.title == 'Sale' %}
          <i class="fa fa-chevron-right"></i>
        {% endunless %}
      </a>
      {% include 'main-nav-item-body' %}
    </li>
  {% endfor %}
</ul>