<ul class="site-cat" id="SiteCat">
  {% for link in linklists.categories.links %}
    {%- assign child_list_handle = link.title | handleize -%}
    <li class="main-nav-item"{% if link.active %}class="site-cat--active"{% endif %}>
      <a href="{{ link.url }}" class="main-nav-item-link">
        {{ link.title }}
        {% unless link.title == 'Scanners' or link.title == 'Barcode Printers' %}
          <i class="fa fa-chevron-right"></i>
        {% endunless %}
      </a>
      {% include 'main-nav-item-body' %}
    </li>
  {% endfor %}
</ul>